body {
    margin: 0px;
    padding: 0px;
    background-color: green;
}

.bg-box {
    height: 890px;
    background: url(./images/pole-zelen-trava-dom-derevya.jpg) no-repeat center center, 
    url(./images/green-png-44873.png) no-repeat center bottom/ 1660px 350px,
    url(./images/lamp-png-34914.png) repeat-x center top/ 80px 100px, 
    url(./images/3F3F.webp) repeat-y center left/ 50px 50px,
    url(./images/58eb07b830eab15b56162788-removebg-preview.png) repeat-y right center/ 50px 50px;
}